* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/img/encrypt.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 5vh;
}

.terms {
  width: 80%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.terms p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FF0000;
}

.btn {
  width: 80%;
  padding: 1% 0;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.btn-encrypt {
  background-color: #0a3871;
  border-radius: 24px;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.btn-decrypt{
  background-color: #fff;
  border-radius: 24px;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.btn button {
  width: 40%;
  padding: 2%;
  border-radius: 24px;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
}

.background-encrypt {
  background-image: url('/img/encrypt.jpeg');
  background-size: cover;
}

.background-decrypt {
  background-image: url('/img/decrypt.jpeg');
  background-size: cover;
}

.text {
  width: 80%;
  height: 30vh;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {

  body {    
    background-image: url('/img/encrypt\ -\ copia.jpeg');
  }

  .text {
    width: 70%; 
    height: 35vh;
    font-size: 20px;
  }
  
  .text {
    margin-top: 0;
  }

  .background-encrypt {
    background-image: url('/img/encrypt\ -\ copia.jpeg');
  }
  
  .background-decrypt {
    background-image: url('/img/decrypt\ -\ copia.jpeg');
  }
}